*.png
*.pdf
*.pptx
*.docx
*.csv
deprec/*
plots/*
**/plots/*
figs/*
logfiles/*
3dfit_python/results/*
3dfit_python/result_plots/*
DrAveraged*/*
Comparison_epos3-epos4/*
Npairs_averaging/*
alphaNR_vs_kt/*
analysed/*
Stuff/*
epos_with_apptainer/*
urqmd-3.4/*
urqmd-3.4*
status_report/*
**/*.root
**/*.exe
**/*.txt
**/*.log
**/*.f19
**/*.out*
**/*.o
**/*.d
**/*.csv
.vscode
levyfit/exe/*
levyfit/object/*

